p
  padding-top: 10px
  padding-right: 10px
  padding-left: 10px
  font-weight: bold
  font-size: 17px

.bored-container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-evenly
    height: 100%
    padding-bottom: 100px

    .card-container
        padding-top: 40px
        display: grid
        grid: 125px / auto auto
        flex-direction: row
        gap: 15px
        padding-bottom: 50px
        justify-content: center
        vertical-align: middle
        align-items: center

        .green-card
            justify-content: center
            vertical-align: middle
            width: 200px
            height: 150px
            border-radius: 10px
            background-size: 200%
            background-repeat: no-repeat
            background-image: url(../../../../assets/imgs/verde.jpg)



    .next-btn
        display: flex
        justify-content: center
        align-items: center
        background-image: url("../../../../assets/imgs/verde.jpg")
        color: white
        width: 20px
        height: 20px
        text-decoration: none
        padding: 25px
        border-radius: 50%
        background-size:150%
        margin-bottom:50px




