<div class="container">
    <div class="angry-semaphore-container">
        <p><u>Parar y Pensar:</u> Esta es una estrategia para afrontar conflictos, completa el primer paso (luz roja) y cuando lo termines presiona la flecha</p>
        <div class="semaphore-content">
            <div class="text">
                <h2>{{ subtitles[activeStep] }}</h2>
                <p>{{ steps[activeStep] }}</p>

                <ng-container *ngIf="activeStep < 2">
                    <button (click)="nextStep()">
                        <span class="material-symbols-outlined">arrow_downward</span>
                    </button>
                </ng-container>
                <ng-container>
                    <a routerLink="/angry-timer" *ngIf="activeStep == 2"><span class="material-symbols-outlined">arrow_forward</span></a>
                </ng-container>
            </div>
            <div class="semaphore">
                <div class="back">
                    <div class="light red-light" [ngClass]="activeStep == 0 ? 'active' : ''"></div>
                    <div class="light yellow-light" [ngClass]="activeStep == 1 ? 'active' : ''"></div>
                    <div class="light green-light" [ngClass]="activeStep == 2 ? 'active' : ''"></div>
                </div>
            </div>
        </div>
    </div>
</div>