p
    font-weight: bold
    font-size: 22px

.card-container
    display: flex
    flex-direction: column
    margin-top: 35px
    gap: 25px

    .card
        height: 110px
        border-radius: 10px 
        display: flex
        justify-content: center
        align-items: center
        vertical-align: middle
        background-size: 100%
        background-repeat: no-repeat

    .red-card
        background-image: url("../../../assets/imgs/rojo.jpg")
    .blue-card
        background-image: url("../../../assets/imgs/azul.jpg")
    .green-card
        background-image: url("../../../assets/imgs/verde.jpg")
    .yellow-card
        background-image: url("../../../assets/imgs/amarillo3.jpg")