<div class="container">
    <div class="happy-container">
        <p>¡La vida te sonríe y tu le devuelves la sonrisa!, recuerda que tu felicidad es contagiosa, intenta compartirla con las personas que te rodean, puedes intentar:</p>
        <div class="card"><p>Practica tu gratitud a los demás, todos los días</p></div>
        <div class="card"><p>Siempre escucha atenta y sinceramente</p></div>
        <div class="card"><p>¡Simplemente sonríe!, alegrarás el día de muchos</p></div>
        <a routerLink="/happy-alt" class="next-btn"><span class="material-symbols-outlined">arrow_forward</span></a>
    </div>
</div>