p
  font-weight: bold
  font-size: 22px
  margin:5px



.card-container
    display: grid
    grid: 125px / auto auto
    flex-direction: row
    margin-top: 40px
    gap: 15px
    padding-bottom:15px

    .blue-card
        justify-content:center
        vertical-align:middle
        width:150px
        height:125px
        border-radius:10px
        background-size:200%
        background-repeat: no-repeat
        background-image: url(../../../../assets/imgs/azul.jpg)








