p
   color: #ffffff
   font-size: 20px
   text-align: center


.info-container
    display: flex
    flex-direction: column
    margin-top: 40px
    gap: 50px

.purple-card
  color: white
  border-radius: 10px
  height: 150px
  display: flex
  justify-content: center
  align-items: center
  vertical-align: middle
  background-size: 100%
  background-repeat: no-repeat
  background-image: url("../../../assets/imgs/morado.jpg")







