<div class="container">
  <div class="info-container">
    <div class="purple-card cardp1">
     <p>
      Diseño realizado para la materia aplicaciones moviles 2023-1
     <p>
    </div>
    <div class="purple-card cardp2">
      <p>
       <u>Creditos:</u>
        <br>
        Gabriel Cornejo Botero
        <br>
        Juan Jose Duque Gonzalez</p>
    </div>

    <div class="purple-card cardp3">
      <p>
       <u>Docente:</u>
        <br>
        <br>
        Andres Bedoya Tobon
      </p>
    </div>


  </div>
</div>
